* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    border: 1px solid mediumblue;
    margin: auto;
}

header {
    width: 100%;
    padding: 0 0.25em;
    background-color: cornflowerblue;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

footer {
    width: 100%;
    padding: 0.25em;
    background-color: cornflowerblue;
    color: aliceblue;
    display: grid;
    place-content: center;
}

.form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 00;
    padding: 0 0.5rem 0.25rem;
    border-bottom: 1px solid rebeccapurple;
}

button {
    height: 40px;
    min-width: 48px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: aliceblue;
    color: aqua;
}
